[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dash = "*"
dash-renderer = "*"
dash-html-components = "*"
solvebio = "*"
flask-seasurf = "*"
dash-auth = "*"


[dev-packages]

ipython = "*"
dash-table-experiments = "*"
twine = "*"


[requires]

python_version = "2.7"


[[source]]

url = "https://pypi.python.org/simple/"
verify_ssl = true
